@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* SCSS variables styling */
/*    Home Styling    */
footer {
  display: none;
}

.welcome {
  padding-left: 3%;
  padding-top: 46vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome h1 {
  font-size: 3.5em;
}

.welcome h2 {
  padding-top: 10%;
  font-size: 2em;
}

.welcome h3 {
  padding-top: 5%;
  font-size: 1.3em;
}

.resume {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .welcome {
    text-align: center;
    margin-bottom: 18vh;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .welcome {
    text-align: center;
    padding-left: 3%;
    padding-top: 20vh;
    margin-bottom: 75px;
  }
}

/*    Blog Styling    */
h1 {
  padding: 2%;
  font-size: 5em;
}

h3 {
  padding-top: 2%;
}

.post_left {
  padding-left: 2%;
  padding-right: 2%;
}

.post_left .img_left {
  height: 40%;
  width: 99%;
  padding-bottom: 5%;
}

.post_left p {
  background-color: #ecf3f3;
}

.post_right {
  padding-left: 2%;
  padding-right: 2%;
}

.post_right .img_right {
  height: 40%;
  width: 99%;
  padding-bottom: 5%;
}

.post_right p {
  background-color: #ecf3f3;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  h1 {
    text-align: center;
  }
  .post_left .img_left {
    float: right;
    height: 30%;
    width: 40%;
    padding-bottom: 1%;
  }
  .post_right h3 {
    text-align: right;
  }
  .post_right .img_right {
    float: left;
    height: 30%;
    width: 40%;
    padding-bottom: 1%;
    padding-right: 2%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .post_left {
    padding-bottom: 2%;
  }
  .post_left p {
    padding-bottom: 5%;
  }
  .post_left .img_left {
    height: 300px;
    width: 500px;
    padding-bottom: 1%;
    padding-left: 2%;
  }
  .post_right {
    padding-bottom: 2%;
  }
  .post_right p {
    padding-bottom: 5%;
  }
  .post_right .img_right {
    height: 300px;
    width: 500px;
    padding-bottom: 1%;
  }
}

/*    Project Styling    */
h1 {
  font-size: 3.5em;
}

.skill_icons {
  display: none;
}

.project1 {
  padding: 2%;
}

.project1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project1 a img {
  height: 30vh;
  width: 90vw;
}

.project1 p {
  text-align: center;
  background-color: #ecf3f3;
}

.project2 {
  padding: 2%;
}

.project2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project2 a img {
  height: 30vh;
  width: 90vw;
}

.project2 p {
  text-align: center;
  background-color: #ecf3f3;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .skill_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1%;
  }
  .skill_icons img {
    width: 4vw;
    height: 3vh;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .project1 a img {
    height: 50vh;
    width: 40vw;
  }
  .project2 a img {
    height: 50vh;
    width: 40vw;
  }
  .skill_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1%;
  }
  .skill_icons img {
    width: 3vw;
    height: 5vh;
  }
}

/*    Skills Styling    */
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills .skill_container {
  text-align: center;
  width: 80%;
}

.skills .skill_container img {
  height: 80%;
  width: 40%;
  padding: 5%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20% 10% 53% 10%;
  }
  .skills .skill_container {
    text-align: center;
    width: 20%;
  }
  .skills .skill_container img {
    height: 10vh;
    width: 12vw;
    padding: 10%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 4% 25%;
  }
  .skills .skill_container {
    text-align: center;
    width: 25%;
    margin-bottom: 0;
  }
  .skills .skill_container img {
    height: 24vh;
    width: 12vw;
    padding: 10%;
  }
}

/*    Contact Styling    */
.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

.contact_form .med_map {
  display: none;
}

.contact_form iframe {
  margin: 5%;
}

.contact_form input {
  margin: 5%;
}

.contact_form input[type=text], .contact_form input[type=email] {
  width: 100%;
  background-color: white;
  padding: 5px 8px;
  margin: 8px 0;
  border-radius: 4px;
}

.contact_form input[type=submit] {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #2e2e2e;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_form #message {
  height: 20vh;
  width: 100%;
  background-color: white;
  padding: 5px 8px;
  margin: 8px 0;
  border-radius: 4px;
  resize: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .contact_form .small_map {
    display: none;
  }
  .contact_form .med_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .contact_form {
    width: 40vw;
  }
  .contact_form label {
    width: 100%;
    text-align: center;
  }
  .contact_form .submit:hover {
    background-color: #969696;
  }
  .contact_form input[type=submit] {
    width: 20%;
  }
}

/* Background partical styling  */
.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(47vw, 72vh, 45px);
            transform: translate3d(47vw, 72vh, 45px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(47vw, 72vh, 45px);
            transform: translate3d(47vw, 72vh, 45px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.61;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(46vw, 41vh, 34px);
          transform: translate3d(46vw, 41vh, 34px);
  background: #26a9d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(23vw, 258vh, 26px);
            transform: translate3d(23vw, 258vh, 26px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(23vw, 258vh, 26px);
            transform: translate3d(23vw, 258vh, 26px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.06;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(29vw, 55vh, 2px);
          transform: translate3d(29vw, 55vh, 2px);
  background: #d9268b;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(76vw, 99vh, 12px);
            transform: translate3d(76vw, 99vh, 12px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(76vw, 99vh, 12px);
            transform: translate3d(76vw, 99vh, 12px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.65;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(8vw, 82vh, 6px);
          transform: translate3d(8vw, 82vh, 6px);
  background: #d926c7;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(34vw, 72vh, 80px);
            transform: translate3d(34vw, 72vh, 80px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(34vw, 72vh, 80px);
            transform: translate3d(34vw, 72vh, 80px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.01;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(79vw, 90vh, 24px);
          transform: translate3d(79vw, 90vh, 24px);
  background: #d92662;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(88vw, 216vh, 24px);
            transform: translate3d(88vw, 216vh, 24px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(88vw, 216vh, 24px);
            transform: translate3d(88vw, 216vh, 24px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.87;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(50vw, 67vh, 53px);
          transform: translate3d(50vw, 67vh, 53px);
  background: #7d26d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(36vw, 30vh, 51px);
            transform: translate3d(36vw, 30vh, 51px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(36vw, 30vh, 51px);
            transform: translate3d(36vw, 30vh, 51px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.86;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(1vw, 24vh, 19px);
          transform: translate3d(1vw, 24vh, 19px);
  background: #d92659;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(90vw, 51vh, 14px);
            transform: translate3d(90vw, 51vh, 14px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(90vw, 51vh, 14px);
            transform: translate3d(90vw, 51vh, 14px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(5vw, 66vh, 27px);
          transform: translate3d(5vw, 66vh, 27px);
  background: #d92677;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(56vw, 93vh, 89px);
            transform: translate3d(56vw, 93vh, 89px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(56vw, 93vh, 89px);
            transform: translate3d(56vw, 93vh, 89px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(54vw, 55vh, 39px);
          transform: translate3d(54vw, 55vh, 39px);
  background: #d96e26;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(23vw, 153vh, 90px);
            transform: translate3d(23vw, 153vh, 90px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(23vw, 153vh, 90px);
            transform: translate3d(23vw, 153vh, 90px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.47;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(80vw, 30vh, 17px);
          transform: translate3d(80vw, 30vh, 17px);
  background: #2682d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(14vw, 219vh, 28px);
            transform: translate3d(14vw, 219vh, 28px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(14vw, 219vh, 28px);
            transform: translate3d(14vw, 219vh, 28px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(73vw, 78vh, 78px);
          transform: translate3d(73vw, 78vh, 78px);
  background: #26d9b5;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(36vw, 192vh, 95px);
            transform: translate3d(36vw, 192vh, 95px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(36vw, 192vh, 95px);
            transform: translate3d(36vw, 192vh, 95px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.89;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(63vw, 69vh, 88px);
          transform: translate3d(63vw, 69vh, 88px);
  background: #d92650;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(75vw, 63vh, 99px);
            transform: translate3d(75vw, 63vh, 99px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(75vw, 63vh, 99px);
            transform: translate3d(75vw, 63vh, 99px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.37;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(37vw, 7vh, 1px);
          transform: translate3d(37vw, 7vh, 1px);
  background: #4ad926;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(66vw, 243vh, 47px);
            transform: translate3d(66vw, 243vh, 47px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(66vw, 243vh, 47px);
            transform: translate3d(66vw, 243vh, 47px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(79vw, 58vh, 22px);
          transform: translate3d(79vw, 58vh, 22px);
  background: #b826d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(33vw, 36vh, 40px);
            transform: translate3d(33vw, 36vh, 40px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(33vw, 36vh, 40px);
            transform: translate3d(33vw, 36vh, 40px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(76vw, 57vh, 52px);
          transform: translate3d(76vw, 57vh, 52px);
  background: #d9d326;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(75vw, 180vh, 85px);
            transform: translate3d(75vw, 180vh, 85px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(75vw, 180vh, 85px);
            transform: translate3d(75vw, 180vh, 85px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.66;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(85vw, 84vh, 73px);
          transform: translate3d(85vw, 84vh, 73px);
  background: #d93226;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(66vw, 108vh, 79px);
            transform: translate3d(66vw, 108vh, 79px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(66vw, 108vh, 79px);
            transform: translate3d(66vw, 108vh, 79px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.7;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(79vw, 3vh, 3px);
          transform: translate3d(79vw, 3vh, 3px);
  background: #c4d926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(69vw, 123vh, 16px);
            transform: translate3d(69vw, 123vh, 16px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(69vw, 123vh, 16px);
            transform: translate3d(69vw, 123vh, 16px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.67;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(86vw, 19vh, 82px);
          transform: translate3d(86vw, 19vh, 82px);
  background: #9126d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(81vw, 18vh, 18px);
            transform: translate3d(81vw, 18vh, 18px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(81vw, 18vh, 18px);
            transform: translate3d(81vw, 18vh, 18px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.37;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(34vw, 79vh, 76px);
          transform: translate3d(34vw, 79vh, 76px);
  background: #26a0d9;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(11vw, 258vh, 69px);
            transform: translate3d(11vw, 258vh, 69px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(11vw, 258vh, 69px);
            transform: translate3d(11vw, 258vh, 69px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.36;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(63vw, 49vh, 83px);
          transform: translate3d(63vw, 49vh, 83px);
  background: #cad926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(86vw, 42vh, 98px);
            transform: translate3d(86vw, 42vh, 98px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(86vw, 42vh, 98px);
            transform: translate3d(86vw, 42vh, 98px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.92;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(73vw, 61vh, 75px);
          transform: translate3d(73vw, 61vh, 75px);
  background: #d92632;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(25vw, 3vh, 53px);
            transform: translate3d(25vw, 3vh, 53px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(25vw, 3vh, 53px);
            transform: translate3d(25vw, 3vh, 53px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.76;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(54vw, 37vh, 5px);
          transform: translate3d(54vw, 37vh, 5px);
  background: #2626d9;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(66vw, 33vh, 87px);
            transform: translate3d(66vw, 33vh, 87px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(66vw, 33vh, 87px);
            transform: translate3d(66vw, 33vh, 87px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(73vw, 81vh, 5px);
          transform: translate3d(73vw, 81vh, 5px);
  background: #acd926;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(5vw, 267vh, 61px);
            transform: translate3d(5vw, 267vh, 61px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(5vw, 267vh, 61px);
            transform: translate3d(5vw, 267vh, 61px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.72;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(4vw, 35vh, 89px);
          transform: translate3d(4vw, 35vh, 89px);
  background: #d9af26;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(15vw, 99vh, 76px);
            transform: translate3d(15vw, 99vh, 76px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(15vw, 99vh, 76px);
            transform: translate3d(15vw, 99vh, 76px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(33vw, 76vh, 89px);
          transform: translate3d(33vw, 76vh, 89px);
  background: #26d97d;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(28vw, 150vh, 54px);
            transform: translate3d(28vw, 150vh, 54px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(28vw, 150vh, 54px);
            transform: translate3d(28vw, 150vh, 54px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.23;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(35vw, 77vh, 89px);
          transform: translate3d(35vw, 77vh, 89px);
  background: #b2d926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(26vw, 111vh, 88px);
            transform: translate3d(26vw, 111vh, 88px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(26vw, 111vh, 88px);
            transform: translate3d(26vw, 111vh, 88px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.31;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(72vw, 68vh, 85px);
          transform: translate3d(72vw, 68vh, 85px);
  background: #26d982;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(81vw, 15vh, 30px);
            transform: translate3d(81vw, 15vh, 30px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(81vw, 15vh, 30px);
            transform: translate3d(81vw, 15vh, 30px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.23;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(18vw, 25vh, 93px);
          transform: translate3d(18vw, 25vh, 93px);
  background: #d97126;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(46vw, 246vh, 78px);
            transform: translate3d(46vw, 246vh, 78px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(46vw, 246vh, 78px);
            transform: translate3d(46vw, 246vh, 78px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(30vw, 29vh, 59px);
          transform: translate3d(30vw, 29vh, 59px);
  background: #d92653;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(56vw, 261vh, 6px);
            transform: translate3d(56vw, 261vh, 6px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(56vw, 261vh, 6px);
            transform: translate3d(56vw, 261vh, 6px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.09;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(80vw, 4vh, 6px);
          transform: translate3d(80vw, 4vh, 6px);
  background: #26d932;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(4vw, 219vh, 11px);
            transform: translate3d(4vw, 219vh, 11px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(4vw, 219vh, 11px);
            transform: translate3d(4vw, 219vh, 11px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.92;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(5vw, 56vh, 98px);
          transform: translate3d(5vw, 56vh, 98px);
  background: #d99126;
}

* {
  margin: 0;
  padding: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

html {
  background-repeat: repeat;
  background: #ecf3f3;
}

.divider {
  border-top: 2px solid black;
  padding-bottom: 2%;
}

/* Global nav/footer styling */
.menu_btn_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
}

.menu_btn_open img {
  height: 43px;
  width: 43px;
  padding: 1%;
}

.mobile_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile_nav #mobile_links {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 20px;
}

.mobile_nav #mobile_links .menu_btn_close .menu_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 43px;
  height: 43px;
  position: absolute;
  left: 80%;
  top: 2%;
}

.mobile_nav #mobile_links a {
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 3%;
  padding-top: 12%;
  padding-bottom: 12%;
  background-color: #111;
  text-decoration: none;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials a {
  height: 100%;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.socials img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 43px;
  height: 43px;
  left: 80%;
  top: 2%;
}

.socials .resume {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1%;
}

.nav_menu {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .mobile_nav {
    display: none;
  }
  .menu_btn_open {
    display: none;
  }
  .nav_menu {
    padding: 0.5em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #2b223800;
    width: 100%;
    font-size: 1.5rem;
    -webkit-box-shadow: 0 0 0 0 gray;
            box-shadow: 0 0 0 0 gray;
  }
  .nav_menu a {
    text-decoration: unset;
    color: Black;
    text-shadow: 0px 0px 5px gray;
    font-weight: bold;
    background-color: #2b223800;
    padding-left: 1%;
    padding-right: 1%;
  }
  .nav_menu #selected {
    border-bottom: 4px solid black;
    border-radius: 5px;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: auto;
    right: 0;
    width: 15%;
    border-radius: 8px;
  }
  footer img {
    width: 2em;
    height: 2em;
    padding: 0.2rem;
  }
  footer .resume {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 0.5rem;
    padding-top: 5px;
    font-weight: bolder;
    color: black;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .mobile_nav {
    display: none;
  }
  .menu_btn_open {
    display: none;
  }
  .nav_menu {
    padding: 0.5em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #2b223800;
    width: 100%;
    font-size: 1.5rem;
    -webkit-box-shadow: 0 0 0 0 gray;
            box-shadow: 0 0 0 0 gray;
  }
  .nav_menu a {
    text-decoration: unset;
    color: Black;
    text-shadow: 0px 0px 5px gray;
    font-weight: bold;
    background-color: #2b223800;
    padding-left: 1%;
    padding-right: 1%;
  }
  .nav_menu a:hover {
    border-radius: 10%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav_menu #selected {
    border-bottom: 3px solid black;
    border-radius: 3px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: auto;
    right: 0;
    width: 15%;
    border-radius: 8px;
  }
  footer img {
    width: 2em;
    height: 2em;
    padding: 0.2rem;
  }
  footer .resume {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 0.5rem;
    padding-top: 5px;
    font-weight: bolder;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */