@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import "./partials/variables";
@import "./partials/home";
@import "./partials/blog";
@import "./partials/projects";
@import "./partials/skills";
@import "./partials/contact";
@import "./partials/particle";

*{
    margin: 0;
    padding: 0;
    padding-right: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

html{
    background-repeat: repeat;
    background: #ecf3f3;
}

.divider{
    border-top: 2px solid black;
    padding-bottom: 2%;
}

/* Global nav/footer styling */
.menu_btn_open{
    display: flex;
    justify-content: flex-end;
    position: sticky;

    img{
        height: 43px;
        width: 43px;
        padding: 1%;
    }
}

.mobile_nav{
    display: flex;
    justify-content: flex-end;

        #mobile_links{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;

            .menu_btn_close{

              .menu_close{
                display: flex;
                justify-content: flex-start;
                width: 43px;
                height: 43px;
                position: absolute;
                left: 80%;
                top: 2%;
                }
            }

                a{
                    font-size: 2rem;
                    font-weight: bolder;
                    padding-left: 3%;
                    padding-top: 12%;
                    padding-bottom: 12%;
                    background-color: #111;
                    text-decoration: none;
                    color: white;
                    display: block;
                    transition: 0.3s;
                }
    }
}

.socials{
  display: inline-flex;
  align-items: center;
  position: absolute;
  width: 100%;
  overflow: hidden;
  justify-content: center;

  a{
    height: 100%;
    width: 100%;
    align-content: center;
  }

  img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    justify-content: flex-start;
    width: 43px;
    height: 43px;
    left: 80%;
    top: 2%;
  }

  .resume{
    align-self: center;
    justify-content: center;
    padding-right: 1%;
  }
}

.nav_menu{display: none;}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  .mobile_nav{display: none;}
  .menu_btn_open{display: none;}

  .nav_menu{
    //   position: sticky;
    //   top: 0;
      padding: 0.5em;
      display: inline-flex;
      justify-content: flex-end;
      justify-content: space-around;
      background-color: #2b223800;
      width: 100%;
      font-size: 1.5rem;
      box-shadow: 0 0 0 0 gray;

      a{
          text-decoration: unset;
          color: Black;
          text-shadow: 0px 0px 5px gray;
          font-weight: bold;
          background-color: #2b223800;
          padding-left: 1%;
          padding-right: 1%;
      }

      #selected{
        border-bottom: 4px solid black;
      //   border-bottom: solid 2px;
      //   background-color: #111111a6;
        border-radius: 5px;
        transform: scale(1.3);
    }
  }

  footer{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom:auto;
    right: 0;
    width: 15%;
    border-radius: 8px;

  img{
      width: 2em;
      height: 2em;
      padding: 0.2rem;
  }

  .resume{
      display: inline;
      text-align: center;
      text-decoration: none;
      padding-right: 1rem;
      padding-left: 0.5rem;
      padding-top: 5px;
      font-weight: bolder;
      color: black;
  }
}
}

@media only screen and (min-width: 769px) {
  /* For desktop: */

  .mobile_nav{display: none;}
  .menu_btn_open{display: none;}

  .nav_menu{
    //   position: sticky;
    //   top: 0;
      padding: 0.5em;
      display: inline-flex;
      justify-content: flex-end;
      background-color: #2b223800;
      width: 100%;
      font-size: 1.5rem;
      box-shadow: 0 0 0 0 gray;

      a{
          text-decoration: unset;
          color: Black;
          text-shadow: 0px 0px 5px gray;
          font-weight: bold;
          background-color: #2b223800;
          padding-left: 1%;
          padding-right: 1%;
      }

      a:hover{
        //   background-color: #111111a6;
          border-radius: 10%;
          transform: scale(1.1);
          transition: 0.5s;
}

      #selected{
          border-bottom: 3px solid black;
        //   border-bottom: solid 2px;
        //   background-color: #111111a6;
          border-radius: 3px;
          transform: scale(1.1);
      }

  }

  footer{
          display: flex;
          justify-content: flex-end;
          position: absolute;
          bottom:auto;
          right: 0;
          width: 15%;
          border-radius: 8px;


  img{
      width: 2em;
      height: 2em;
      padding: 0.2rem;
  }

  .resume{
      display: inline;
      text-align: center;
      text-decoration: none;
      padding-right: 1rem;
      padding-left: 0.5rem;
      padding-top: 5px;
      font-weight: bolder;
      color: black;
  }
}
}