/*    Home Styling    */

.nav-menu{
    display: none;
}

footer{
    display: none;
}

.welcome{
    padding-left: 3%;
    padding-top: 46vh;
    align-items: center;

    h1{
        font-size: 3.5em;
    }

    h2{
        padding-top: 10%;
        font-size: 2em;
    }

    h3{
        padding-top: 5%;
        font-size: 1.3em;
    }
}

.resume{
    display: none;
}

@media only screen and (min-width: 600px) {
    .welcome{
        text-align: center;
    }
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .welcome{
        text-align: center;
        padding-left: 3%;
        padding-top: 20vh;
    }
}

