/*    Home Styling    */

.welcome{
    padding-left: 3%;
    padding-top: 85%;
    align-items: center;

    h1{
        width: 50%;
        font-size: 3.5em;
    }

    h2{
        padding-top: 10%;
        font-size: 2em;
    }

    h3{
        padding-top: 5%;
        font-size: 1.3em;
    }
}