/*    Contact Styling    */

.contact_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;

    .med_map{display: none;}

    iframe{margin: 5%;}

    input{margin: 5%;}


    input[type=text], input[type=email] {
        width: 100%;
        background-color: white;
        padding: 5px 8px;
        margin: 8px 0;
        border-radius: 4px;
      }

    input[type=submit] {
        padding: 0.3em 1.2em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 2em;
        font-weight: 300;
        color:#FFFFFF;
        background-color:#2e2e2e;
        text-align: center;
        transition: all 0.2s;
        }

      #message{
          height: 20vh;
          width: 100%;
          background-color: white;
          padding: 5px 8px;
          margin: 8px 0;
          border-radius: 4px;
          resize: none;
      }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */

    .contact_form{
        .small_map{display: none;}
        .med_map{display: flex;}
    }
    
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .contact_form{
        width: 40vw;

        label{
            width: 100%;
            text-align: center;
        }

        .submit:hover{background-color:#969696;}

        input[type=submit] {width: 20%;}
    }
}